[Unit]
Description=FIDO2 BLE to UHID proxy service
Wants=bluetooth.target
After=bluetooth.target
After=dev-uhid.device

[Service]
ExecStart=/usr/bin/fido2ble
# OpenFile=/dev/uhid  # potentially to run this in a less powerful user
# DynamicUser=yes
# ProtectSystem=yes
# ReadWritePaths=/dev/uhid
User=root

[Install]
WantedBy=multi-user.target
